:root {
    --navcolor: #04ff9fc2;
    --cartebg: rgb(36, 36, 36)
}

* {
  box-sizing: border-box;
  max-width: 100vw;
}


html {
    scroll-behavior: smooth;
}

body {
background-color: rgb(26, 26, 26);
color: white;
font-family: 'Trebuchet MS', Helvetica, sans-serif;
margin: 0;
}

main {
    opacity: 0;
transform: translateY(20px);
animation: show  2s ease forwards;
}

@keyframes show {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



hr {
    width: 75%;
}

a {
    text-decoration: none;
    color: white;
}

.h3title {
    margin-top: 3% ;
    text-align: center;
    font-size: 50px;
}


/*навбар */
/* внешний блок navbar, занимает всю ширину */
.divbg {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* внутренний блок с контентом navbar */
.divnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;  
    margin: 0 auto;     
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}
.h3nav {
    font-style: italic;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, transform 0.3s  ease;
    font-weight: 700;
}

.nav-link:hover {
color: var(--navcolor);
transform: scale(1.1);
}

#navbar {
 display: flex;
 gap: 30px;
}

.h3nava {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.h3nava:hover {
 color: var(--navcolor);
}

/* welcome-section*/

#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;               
    align-items: center;         /* вертикальное центрирование */
    justify-content: space-between; /* текст слева, фото справа */
}

.pwelcome {
  font-size: 25px;
}

.fuzy {
    color: var(--navcolor);
}

.h2home {
    margin-top: -20px;
    font-size: 50px;
     vertical-align: middle; 
}

.typping1 {
    color: white;
}

.typping {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: var(--navcolor);
    border-right: 2px solid var(--navcolor);
    width: 6ch;
    animation: typing 1s steps(20) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
    from { width: 4ch; }
    to   { width: 12ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}



.mefoto {
  width: 30%;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--navcolor);
  object-fit: cover;
  margin-right: 10%;
  box-shadow: 0 0 20px 1px var(--navcolor);
  animation: float 10s ease infinite;
  transition: box-shadow 0.3s ease;
}

.mefoto:hover {
  box-shadow: 0 0 50px 1px rgba(4, 255, 159, 0.6);
}

@keyframes float {
  0%, 50%, 100% { transform: translateY(15px); }
  25%, 75% { transform: translateY(-15px); }
}

.socials {
    display: flex;
        align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 25px;
    margin-top: 25px;
}

.socialspan {
  background: var(--cartebg);
  border: 2px solid var(--cartebg);
  border-radius: 50%;
  width: 50px;         /* фиксируем размеры кружка */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asocials i {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.asocials {
    transition: transform 0.3s ease, color 0.3s ease;
}

.asocials:hover {
    transform: scale(1.1);
    color: var(--navcolor);
}

.metext {
    max-width: 50%;  
        margin-left: 10%;   
}

.phome {
    width: 400px;
 margin-top: -30px;
 margin-left: 2px;
 color: rgb(168, 168, 168);
}

.abuttondiv {
    display: flex;
    gap: 30px;
    font-weight: 700;
}

.abutton {
    display: flex;             /* flex для центрирования текста */
    align-items: center;              /* вертикальное центрирование */
    justify-content: center;          /* горизонтальное центрирование */
    width: 150px;
    height: 50px;
    background-color: var(--navcolor);
    color: white;
    text-decoration: none;
    border-radius: 7px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.abutton:hover {
    transform: scale(1.05);
    background-color: transparent;
    color: var(--navcolor);
    border: 2px solid var(--navcolor);
}


.abutton1 {
    display: flex;           
    align-items: center;              
    justify-content: center;         
    width: 150px;
    height: 50px;
    border: 2px solid var(--navcolor);
    color: white;
    text-decoration: none;
    border-radius: 7px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.abutton1:hover {
    transform: scale(1.05);
    background-color: var(--navcolor) ;
}

/*про меня*/
.aboutme {
    width: 100%;
    height: auto;
       display: flex;
    flex-direction: column;      /* текст сверху, круги снизу */
    align-items: center;        
    justify-content: center; 
    padding: 50px 20px;         
    box-sizing: border-box;
}


#about-section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.paboutme {
    max-width: 800px;
    line-height: 1.6;
    font-size: 20px;
}

.infomecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
        width: 100%;
    height: 30%;
    gap: 70px;
    padding: 40px 0;
    font-size: 17px;
}

.infome {
    width: 150px;           /* фиксированная ширина для всех блоков */
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
    gap: 10px;   
}

.infomedec {
    width: 60px;
    height: 60px;
    background-color: rgb(40, 40, 40);
    border-radius: 50%;
    display: flex;
        justify-content: center;
    align-items: center;
}

.infomedec2 {
     width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--navcolor);
}

.infomename, .infomemail {
    margin-top: -15px;
}

/*проекты*/

.myproject {
    width: 100%;
       display: flex;
    flex-direction: column;      
    align-items: center;        
    justify-content: center; 
    padding: 50px 20px;         
    box-sizing: border-box;
}


.proj-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card {
    padding: 10px 10px 25px 10px;
    text-align: center;
    background-color: var(--cartebg);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--navcolor);
}

.pview {       
    display: inline-block;
    padding: 7px 30px;
    background-color: var(--navcolor);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid var(--navcolor);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card:hover .pview {
    background-color: transparent; /* фон исчезает */
    color: var(--navcolor);        /* цвет текста меняется */
}


.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

/*certificate"*/

.certificate1 {
    text-align: center;
    padding: 15px;
    background-color: var(--cartebg);  
    border-radius: 10px;
    max-width: 600px;                
    margin: 20px auto;               
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.certificate1:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px var(--navcolor);
}


.imgcertificate1 {
    width: 100%;  
    height: auto;
    object-fit: cover;
}



@media screen and (max-width: 768px) {


    
  #welcome-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
  }

  .metext {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

.h2home {
  font-size: 32px;
  margin: 14px 0;
  padding: 0;
}


  .phome {
    font-size: 18px;
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 15px;
  }

  .mefoto {
   display: none;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  /* About Me */
.divpadding {
    padding-top: 50px;
}

  .aboutme {
    min-height: auto;
    padding: 20px;
  }

  .paboutme {
    font-size: 16px;
  }

  .infomecontainer {
    flex-direction: column;
    gap: 20px;
  }

  /* Projects */
  .projects-container {
    flex-direction: column;
    gap: 20px;
  }

  .card, .certificate1 {
    width: 90%;
    margin: 0  auto;
  }
  .certificate1 {
    margin-bottom: 15px;
  }

  .proj-img {
    height: 200px;
  }

}
